body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    padding-top: 30px;
    background-repeat: no-repeat;
}


div{
    width: 600px;
    margin: auto;
    border: 1px solid purple;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

div.purple{
    width: 600px;
    margin: auto;
    background-color: purple; 
    border: 1px solid purple;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
}

.font{
font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
   font-size: 20px;
   background-color:green;
   color:rgba(255, 255, 255, 0.8);
   padding: 7px 20px;
}

hr{
 width: 300px;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

a:hover{
text-decoration: underline;
color: yellow;
}

.spacing{
    letter-spacing: 5px;
}